@model List<G191210068_Web_Muhasebe.ViewModel.UserRoleViewModel>

@{
    var userId = ViewBag.userId;
}
@inject LanguageService language
<form method="post">
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count(); i++)
            {          
                <div class="form-check form-check-inline">
            <div><input class="from-check-input" asp-for="@Model[i].HasAssign"/> </div>
            <div>
                @Model[i].RoleName
                <input type="hidden" asp-for="@Model[i].RoleId" />
                <input type="hidden" asp-for="@Model[i].RoleName" />
              </div>
            </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary"
                   style="width:auto" />
            <a asp-action="Edit" asp-route-id="@userId"
               class="btn btn-primary" style="width:auto"> @language.Getkey("İptal")</a>
        </div>
        </div>
</form>
