@model G191210068_Web_Muhasebe.Models.Urun

@{
    ViewData["Title"] = "Delete";
}
@inject LanguageService language
<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>@language.Getkey("Cari Sil")</h2>
            <p>@language.Getkey("Silmek İstediğinize Eminmisiniz")</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <table class="table" style="min-width:300px; word-break:break-word;">
                        <tbody>

                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.UrunAd)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.UrunAd)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Birim)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Birim)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Miktar)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Miktar)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.BirimFiyat)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.BirimFiyat)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Iskonto)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Iskonto)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Kdv)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Kdv)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.kdvDurum)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.kdvDurum)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.iskontoTuru)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.iskontoTuru)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.Toplam)
                                </td>
                                <td>
                                    @{
                                        var donusumlu_deger_Toplam = string.Format("{0:0,0.000}", Model.Toplam);
                                    }
                                    @donusumlu_deger_Toplam
                                    @*@Html.DisplayFor(model => model.Toplam)*@
                                </td>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(model => model.GenelToplam)
                                </td>
                                <td>
                                    @{
                                        var donusumlu_deger_GenelToplam = string.Format("{0:0,0.000}", Model.GenelToplam);
                                    }
                                    @donusumlu_deger_GenelToplam
                                    @*@Html.DisplayFor(model => model.GenelToplam)*@
                                </td>
                            </tr>
                            </tr>
                        </tbody>
                    </table>


                    <form asp-action="Delete">
                        <input type="hidden" asp-for="UrunID" />
                        <input type="submit" value="@language.Getkey("Sil")" class="btn SilBtn"  style="width: 60px; justify-content: center;"/> |
                        <a asp-action="Details" asp-controller="CariIslemler" asp-route-id="@ViewBag.CariIslemID">@language.Getkey("Geri Dön")</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

