@model G191210068_Web_Muhasebe.Models.CariIslemler
@{
    ViewData["Title"] = "OdemeYap";
}
<div class="section-title">
    <h2>Ödeme Yap</h2>
    <h3><span> @ViewBag.FirmaAdi</span></h3>
    @*<p>@language.Getkey("Ürün Bilgilerini Kontrol Edebilirsiniz")</p>*@
</div>
@inject LanguageService language
<div class="registration-form">
    <div style="border-color:#000000; margin-left: 60%; ">
        <a asp-controller="Cari" asp-action="Details" asp-route-id="@ViewBag.CariId" class="btn SilBtn">İşlemi İptal Et</a>
    </div>
    <br />
    <form asp-action="OdemeYap">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FaturaTarihi" class="control-label"></label>
            <input asp-for="FaturaTarihi" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
            <span asp-validation-for="FaturaTarihi" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SevkTarihi" class="control-label"></label>
            <input asp-for="SevkTarihi" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
            <span asp-validation-for="SevkTarihi" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="VadeTarihi" class="control-label"></label>
            <input asp-for="VadeTarihi" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
            <span asp-validation-for="VadeTarihi" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Saat" class="control-label"></label>
            <input asp-for="Saat" value="@DateTime.Now.ToString("HH:mm")" class="form-control" />
            <span asp-validation-for="Saat" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="odemeSekli" class="control-label"></label>
            <select asp-for="odemeSekli" asp-items="Html.GetEnumSelectList<OdemeSekli>()" class="form-control"></select>
            <span asp-validation-for="odemeSekli" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EvrakNo" class="control-label"></label>
            <input asp-for="EvrakNo" class="form-control" />
            <span asp-validation-for="EvrakNo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Aciklama" class="control-label"></label>
            <textarea asp-for="Aciklama" class="form-control"></textarea>
            <span asp-validation-for="Aciklama" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="" class="control-label">İşlem Tutarı</label>
            <input asp-for="Borc" class="form-control" />
            <span asp-validation-for="Borc" class="text-danger"></span>
        </div>
        <input asp-for="islemTuru" value="@IslemTuru.Odeme" class="form-control" hidden />
        @if (ViewBag.CariId != null)
        {
            <input asp-for="CariId" value="@ViewBag.CariId" class="form-control" hidden />
        }

        <div class="form-group">
            <input type="submit" value="@language.Getkey("Kaydet")" class="btn btn-primary" />
        </div>

    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}